<div class="container">
    <h1 class="mt-3">Blogs</h1>
    <div class="justify-content-end d-flex">
        <a class="btn btn-primary mt-3" [routerLink]="['/admin','blogs','add']">Add New Blog</a>
    </div>
    @if(isLoading()){
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    } @else {
    @if(isError()){
    <p class="text-danger">There was an error loading the blogs...</p>
    }

    @else {
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Categories</th>
                <th>Created Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (blog of blogs(); track blog.id) {
            <tr>
                <td>{{blog.title}}</td>
                <td>{{blog.author.name}}</td>
                <td>
                    @for (category of blog.categories; track category.id) {
                        <span>{{category.name}}</span><br />
                    }
                </td>
                <td>{{blog.createdTimeStamp}}</td>
                <td>
                    <a class="btn btn-primary m-1" [routerLink]="['/blog',blog.urlHandle]">View</a>
                    <a class="btn btn-light m-1" [routerLink]="['/admin/blogs/edit', blog.id]">Edit</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
    }
</div>